<div class="container" id="head">

    <div class="py-4" id="content" align="left">

        <div class="blur">
            <br>

            <h3>Shiksha Scholarship Portal</h3>

            <br>

            <p>A one-stop solution through which various services starting from student application, application
                receipt, processing, sanction and disbursal of various scholarships to Students are enabled. Shiksha
                Scholarships Portal is taken as Mission
                Mode Project under National e-Governance Plan (NeGP)

            </p>
        </div>
    </div>
</div>

<br>

<br>

<div class="container" align="center">

    <br>
    <div style=" color: white; background-color: #334756;">
        <h4 style=" font-size: 3em;">Vision</h4>

        <p>Shiksha Scholarships Portal is one-stop solution through which various services starting from student
            application, application receipt, processing, sanction and disbursal of various scholarships to Students are
            enabled.

            <br> This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent
            <strong>'SMART'</strong> System for faster & effective disposal of Scholarships applications and delivery of
            funds directly into beneficiaries account without any leakages.

        </p>
        <br>

        <h4 style="font-size: 3em;;">Mission</h4>

        <p>The Mission of Shiksha Scholarships Portal is to implementing various Scholarships schemes launched by Union
            Government, State Government and Union Territories across the country.

        </p>
        <br>
    </div>
    
</div>



<section class="cards-wrapper">
    <div class="card-grid-space">
        <div class="num">Objectives</div>
        <a class="card">
            <div>
                <ul>
                    <li>Ensure timely disbursement of Scholarships to students
                    </li>
                    <li>Provide a common portal for various Scholarships schemes of Central and State Governments
                    </li>
                    <li>Create a transparent database of scholars
                    </li>
                    <li>Avoid duplication in processing
                    </li>
                    <li>Harmonisation of different Scholarships schemes & norms
                    </li>
                    <li>Application of Direct Benefit Transfer
                    </li>
                </ul>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <div class="num">Benefits</div>
        <a class="card">
            <div>
                <h1>Simplified process for the students:</h1>
                <ul>
                    <li>All scholarships information available under one umbrella.</li>
                    <li>Single integrated application for all scholarships.</li>
                </ul>
                <h1>Improved transparency :</h1>
                <ul>
                    <li>System suggests the schemes for which a student is eligible.</li>
                    <li>Duplicates can be reduced to the maximum extent.</li>
                </ul>
                <h1>Helps in standardisation :</h1>
                <ul>
                    <li>Master data for Institutions and courses at all India level .</li>
                    <li>Scholarships processing.</li>
                </ul>
            </div>
        </a>
    </div>

</section>