.container{
    margin: 50px;
    padding: 50px; 
    font-family: serif;
    background-color: #334756;
}

.detail{
    background-color: white;
    padding: 50px;
}

dt{
    font-size: medium;
    font-weight: bold;
}

dt,dl{
    color: #072c1c;
}